<footer class="main-footer">
	<div class="container">
		<div class="row">

			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<h2>NAVEGACION</h2>
					<ul class="Navegacion">
					<li><a href="/">Inicio</a></li><br></br>
					<li><a href="/movies">Peliculas</a></li><br></br>
					<li><a href="/series">Series</a></li><br></br>
					<li><a href="/faq">Preguntas Frecuentes</a></li><br></br>
					<li><a href="/Contact">Contacto</a></li>
				</ul>
				</article>
			</div>

			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<h2>MEDIOS DE PAGO</h2>
					<img src="/images/MediosDePago.jpg" alt="">
				</article>
			</div>
			
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<h2>REDES SOCIALES</h2>
					<i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> <i class="fab fa-pinterest"></i>
					<br></br>
				</article>
			</div>

		</div>
	</div>
</footer>
<div class="sub-footer">
	<div class="container">
		<p>COPYRIGHT MINERVA - 2020. TODOS LOS DERECHOS RESERVADOS</p>
	</div>
</div>