!DOCTYPE html>
<html>
  <%- include('partials/head', {title: 'Home'}) %>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!-- Header -->
     <%- include('partials/headerNavbar') %>
     <br></br><br></br><br></br><br></br><br></br><br></br></br><br><br>
     <h5> Perfil Administrador </h5>
    <h3>Seleccione la accion que desee realizar</h3>
    
    <a href="/movies/crear">Crear Producto</a>
    <a href="/movies/editar">Editar Producto</a>
    <a href="/movies/borrar">Eliminar Producto</a>
    
    
    <button type="submit" class="btn btn-success w-100" name="rememberMe"><a href="/users/logout">Cerrar Sesion</a></button>
   
    <%- include('partials/footer') %>
  </body>
</html>